@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(../font/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot');
    src: url('fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf') format('truetype'), url('fonts/icomoon.woff') format('woff'), url('fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot');
    src: url('fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf') format('truetype'), url('fonts/icomoon.woff') format('woff'), url('fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*="icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot');
    src: url('fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf') format('truetype'), url('fonts/icomoon.woff') format('woff'), url('fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-uniE602:before {
    content: "\e602";
}

.icon-uniE601:before {
    content: "\e601";
}

.icon-noun_project_11792:before {
    content: "\e600";
}

.icon-key:before {
    content: "\e603";
}

@import url(http://fonts.googleapis.com/css?family=Lato);
* {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}

html, body, header, footer, article, section, nav {
    display: block;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 1.231;
    color: #fff;
    min-width: 970px;
}

.universe {
    min-height: 100%;
    background: #bdc3c7;
}

textarea, input {
    font-family: "Lato", Georgia, Serif;
    font-size: 0.95em;
}

.iosslider {
    width: 1150px !important;
    margin: 0 auto;
}

@media (max-width: 1600px) {
    .iosslider {
        width: 900px !important;
    }

}

@media (max-width: 1350px) {
    .iosslider {
        width: 700px !important;
    }

}

@media (max-width: 1000px) {
    .centrator {
        margin: 0 auto;
        width: 80%;
        min-width: 750px;
    }

    .centrator_2 {
        margin: 0 auto;
        width: 95%;
    }

    .main_menu ul li {
        /*width: auto !important;*/
    }
}

@media (max-width: 500px) {
    body {
        font-size: medium;
    }
}

h1, h2, h3 {
    font-size: 3em;
    font-weight: normal;
}

.anchor {
    float: none;
    clear: both;
}

/*-----------header-------------*/

input[type='text'], textarea, input[type='password'] {
    background: #fff;
    color: #757575;
    border-radius: 5px;
}

input[type='text'], input[type='password'] {
    height: 44px;
    padding-left: 20px;
}

/*-----------menu-------------*/
.main_menu {
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 99999;
    opacity: 0.9;
}

.main_menu ul {
    text-align: justify;
    text-align-last: justify;
    position: relative;
}

.main_menu ul:after {
    width: 100%;
    content: '';
    display: inline-block;
}

.main_menu ul li {
    display: inline-block;
    line-height: normal;
    width: 7em;
}

.main_menu li:first-child {
    text-align: left;
}

.main_menu ul li:last-child {
    text-align: right;
}

.main_menu ul li.active a div {
    display: block !important;
    background: #0095ff;
}

.main_menu span {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    top: 33%;
}

.main_menu ul li a {
    display: inline-block;
    line-height: 55px;
    text-decoration: none;
    position: relative;
    font-family: "Arial" narrow;
    font-size: 1.3em;
    color: #656565;
    position: relative;
    padding-left: 25px;
}

.main_menu ul li a:hover {
    text-decoration: none;
}

.main_menu ul li a div {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #cecece;
    height: 3px;
}
.plashka{
    height: 50px;
}
.maine_text{
    text-align: center;
}
.poplavok {
    height: 5px;
    background: #8e44ad;
    position: absolute;
    left: 0;
    top: 50px;

    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

/* you do realize this makes no sense, right?
don't use this.
http://www.youtube.com/watch?v=umDr0mPuyQc */
.container {
    padding: 100px;
    background: #222D3A;
}

#mission h2, #mission .article_logo {
    text-shadow: rgb(170, 176, 179) 1px 1px, rgb(170, 176, 179) 2px 2px, rgb(170, 176, 179) 3px 3px, rgb(170, 176, 179) 4px 4px, rgb(170, 176, 179) 5px 5px, rgb(170, 176, 179) 6px 6px, rgb(170, 176, 179) 7px 7px, rgb(170, 176, 179) 8px 8px, rgb(170, 176, 179) 9px 9px, rgb(170, 176, 179) 10px 10px, rgb(170, 176, 179) 11px 11px, rgb(170, 176, 179) 12px 12px, rgb(171, 177, 180) 13px 13px, rgb(172, 178, 181) 14px 14px, rgb(173, 179, 182) 15px 15px, rgb(174, 180, 183) 16px 16px, rgb(175, 181, 184) 17px 17px, rgb(176, 182, 185) 18px 18px, rgb(177, 183, 186) 19px 19px, rgb(178, 184, 187) 20px 20px, rgb(179, 185, 189) 21px 21px, rgb(180, 186, 190) 22px 22px, rgb(181, 187, 191) 23px 23px, rgb(182, 188, 192) 24px 24px, rgb(183, 189, 193) 25px 25px, rgb(184, 190, 194) 26px 26px, rgb(185, 191, 195) 27px 27px, rgb(186, 192, 196) 28px 28px, rgb(187, 193, 197) 29px 29px, rgb(189, 195, 199) 30px 30px;
}

#home h2 {
    text-shadow: rgb(212, 216, 217) 1px 1px, rgb(212, 216, 217) 2px 2px, rgb(212, 216, 217) 3px 3px, rgb(212, 216, 217) 4px 4px, rgb(212, 216, 217) 5px 5px, rgb(212, 216, 217) 6px 6px, rgb(212, 216, 217) 7px 7px, rgb(212, 216, 217) 8px 8px, rgb(212, 216, 217) 9px 9px, rgb(212, 216, 217) 10px 10px, rgb(212, 216, 217) 11px 11px, rgb(212, 216, 217) 12px 12px, rgb(213, 217, 218) 13px 13px, rgb(214, 218, 219) 14px 14px, rgb(216, 220, 221) 15px 15px, rgb(217, 221, 222) 16px 16px, rgb(218, 222, 223) 17px 17px, rgb(220, 224, 225) 18px 18px, rgb(221, 225, 226) 19px 19px, rgb(222, 226, 227) 20px 20px, rgb(224, 228, 229) 21px 21px, rgb(225, 229, 230) 22px 22px, rgb(226, 230, 231) 23px 23px, rgb(228, 232, 233) 24px 24px, rgb(229, 233, 234) 25px 25px, rgb(230, 234, 235) 26px 26px, rgb(232, 236, 237) 27px 27px, rgb(233, 237, 238) 28px 28px, rgb(234, 238, 239) 29px 29px, rgb(236, 240, 241) 30px 30px;
}

.foto {
    box-shadow: rgb(212, 216, 217) 1px 1px, rgb(212, 216, 217) 2px 2px, rgb(212, 216, 217) 3px 3px, rgb(212, 216, 217) 4px 4px, rgb(212, 216, 217) 5px 5px, rgb(212, 216, 217) 6px 6px, rgb(212, 216, 217) 7px 7px, rgb(212, 216, 217) 8px 8px, rgb(212, 216, 217) 9px 9px, rgb(212, 216, 217) 10px 10px, rgb(212, 216, 217) 11px 11px, rgb(212, 216, 217) 12px 12px, rgb(212, 216, 217) 13px 13px, rgb(212, 216, 217) 14px 14px, rgb(212, 216, 217) 15px 15px, rgb(212, 216, 217) 16px 16px, rgb(212, 216, 217) 17px 17px, rgb(212, 216, 217) 18px 18px, rgb(212, 216, 217) 19px 19px, rgb(212, 216, 217) 20px 20px, rgb(212, 216, 217) 21px 21px, rgb(212, 216, 217) 22px 22px, rgb(212, 216, 217) 23px 23px, rgb(212, 216, 217) 24px 24px, rgb(212, 216, 217) 25px 25px, rgb(213, 217, 218) 26px 26px, rgb(214, 218, 219) 27px 27px, rgb(214, 218, 219) 28px 28px, rgb(215, 219, 220) 29px 29px, rgb(216, 220, 221) 30px 30px, rgb(216, 220, 221) 31px 31px, rgb(217, 221, 222) 32px 32px, rgb(218, 222, 223) 33px 33px, rgb(218, 222, 223) 34px 34px, rgb(219, 223, 224) 35px 35px, rgb(220, 224, 225) 36px 36px, rgb(220, 224, 225) 37px 37px, rgb(221, 225, 226) 38px 38px, rgb(222, 226, 227) 39px 39px, rgb(222, 226, 227) 40px 40px, rgb(223, 227, 228) 41px 41px, rgb(224, 228, 229) 42px 42px, rgb(224, 228, 229) 43px 43px, rgb(225, 229, 230) 44px 44px, rgb(226, 230, 231) 45px 45px, rgb(226, 230, 231) 46px 46px, rgb(227, 231, 232) 47px 47px, rgb(228, 232, 233) 48px 48px, rgb(228, 232, 233) 49px 49px, rgb(229, 233, 234) 50px 50px, rgb(230, 234, 235) 51px 51px, rgb(230, 234, 235) 52px 52px, rgb(231, 235, 236) 53px 53px, rgb(232, 236, 237) 54px 54px, rgb(232, 236, 237) 55px 55px, rgb(233, 237, 238) 56px 56px, rgb(234, 238, 239) 57px 57px, rgb(234, 238, 239) 58px 58px, rgb(235, 239, 240) 59px 59px, rgb(236, 240, 241) 60px 60px;
}

#contact h2, #contact .article_logo {
    text-shadow: rgb(90, 142, 230) 1px 1px, rgb(90, 142, 230) 2px 2px, rgb(90, 142, 230) 3px 3px, rgb(90, 142, 230) 4px 4px, rgb(90, 142, 230) 5px 5px, rgb(90, 142, 230) 6px 6px, rgb(90, 142, 230) 7px 7px, rgb(90, 142, 230) 8px 8px, rgb(90, 142, 230) 9px 9px, rgb(90, 142, 230) 10px 10px, rgb(90, 142, 230) 11px 11px, rgb(90, 142, 230) 12px 12px, rgb(90, 142, 231) 13px 13px, rgb(91, 143, 232) 14px 14px, rgb(91, 144, 234) 15px 15px, rgb(92, 145, 235) 16px 16px, rgb(92, 146, 236) 17px 17px, rgb(93, 147, 238) 18px 18px, rgb(93, 148, 239) 19px 19px, rgb(94, 149, 241) 20px 20px, rgb(95, 150, 242) 21px 21px, rgb(95, 150, 243) 22px 22px, rgb(96, 151, 245) 23px 23px, rgb(96, 152, 246) 24px 24px, rgb(97, 153, 248) 25px 25px, rgb(97, 154, 249) 26px 26px, rgb(98, 155, 250) 27px 27px, rgb(98, 156, 252) 28px 28px, rgb(99, 157, 253) 29px 29px, rgb(100, 158, 255) 30px 30px;
}

/*-----------table--------------*/
.table {
    display: table;
    width: 100%;
}

.table .tr {
    display: table-row;
}

.table .td {
    display: table-cell;
}

.table_classic .td {
    vertical-align: top;
    padding-right: 20px;
}

.text_classic {

}
.oen_post{
    color: #2C3E50;
}
.text_classic p {
    display: block;
    text-indent: 20px;
    margin: 5px 0;
    color: #000;
    font-family: "Times New Roman";
}
.one_post{
    border: 1px solid black;
    margin-bottom: 500px!important;
}
/*-----------centrator--------------*/
.centrator {
    margin: 0 auto;
    width: 70%;
    min-width: 750px;
}

.centrator_2 {
    margin: 0 auto;
    width: 80%;
    position: relative;
}

/*-----------article--------------*/
article {
    overflow: hidden;
    clear: both;
    float: none;
}

.article_wrapper {
    padding: 55px 0 55px 0;
}

article h2, .title_link {
    text-align: center;
    position: relative;
    margin-bottom: 35px;

    font-size: 26px;
    text-rendering: optimizelegibility;

}

article h2 div {
    border-bottom: 1px solid;
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
}

article h2 span {
    display: inline-block;
    padding: 0 14px;
    position: relative;
    z-index: 1;
    font-size: 60px;
}

.article_logo {
    width: 150px;
    margin: 0 auto 30px;
    position: relative;
    z-index: 10;
    font-size: 120px;
}

.article_description {
    text-align: center;
}

.article_description p {
    color: #fff;
    margin-bottom: 30px;
}

.article_description p:last-child {
    margin-bottom: 0;
}

.article_description .article_frame_box:first-child {
    margin-bottom: 30px;
}

.article_frame_box {
    position: relative;
}

.template_width_1 {
    width: 50%;
    margin: 0 auto;
}

.template_width_2 {
    width: 62%;
    margin: 0 auto;
}

.template_width_3 {
    width: 100%;
    margin: 0 auto;
}

.article_frame_circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 auto;
}

.article_frame_line {
    border-bottom: 1px solid;
    top: 49%;
    position: absolute;
    width: 100%;
}

.article_frame_spetial {
    position: relative;
    z-index: 1;
    width: 36px;
    margin: 0 auto;
}

.article_trio {
    padding: 40px 0;

}

.article_trio .table .td {
    position: relative;

}

.article_trio .table .td:nth-child(2n+1) {
    /*background: #b3c0ff;*/
    width: 200px;
    vertical-align: middle;
}

.extension_line {
    margin: 0 auto;
    max-width: 90px;
    padding: 0 15px;
    height: 10px;
    position: relative;
}

.ff_fix_pos_rel {
    position: relative;
    height: 200px;
    min-width: 40px;
}

/*-----------mission--------------*/
#mission {
    background: #bdc3c7;
    position: relative;
}

#mission .extension_line {
    top: 144px;
}

#mission h2 {
    color: #fff;
}

#mission h2 article div {
    border-color: #fff;
}

#mission h2 span {
    color: #fff;
    background: #bdc3c7;
}

#mission .article_frame_circle {
    background: #3eafff;
}

#mission .article_frame_line {
    border-bottom: 1px solid #3eafff;
}

#mission .article_frame_spetial {
    background: #0e87f6;
}

/*-----------projects--------------*/
#projects {
    background: #ecf0f1;
}

#projects h2 {
    color: #a1f1ff;
}

#projects h2 article div {
    border-color: #a1f1ff;
}

#projects h2 span {
    background: #00aeff;
}

#projects .article_frame_circle {
    background: #66c7ff;
}

#projects .article_frame_line {
    border-bottom: 1px solid #66c7ff;
}

#projects  .extension_line {
    top: 140px;
}

#projects .article_frame_spetial {
    background: #00aeff;
}

/*-----------partners--------------*/
#home {
    background: #ecf0f1;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

#home .article_wrapper {
    padding-top: 100px;
}

#home h2 {
    color: #2c3e50;
}

#home h2 span {
    background: #ecf0f1;
}

#home .article_frame_line {
    border-bottom: 1px solid #84ffef;
}

#home .article_frame_spetial {
    background: #08d4c3;
}

/*-----------apply_now--------------*/
#contact {
    background: #649eff;
}

#contact h2 {
    color: #fff;
}

#contact h2 article div {
    border-color: #fff;
}

#contact h2 span {
    background: #649eff;
}

.form_designing_wrap {
    margin: 0 auto;
    max-width: 900px;
    position: relative;
}

.form_designing {
    position: relative;
    margin: 25px 0;
}

.form_designing input[type="text"] {
    width: 47%;
    display: block;
    margin-bottom: 40px;
}

.form_designing input.last {
    margin-bottom: 0 !important;
}

.form_designing textarea {
    height: 96%;
    width: 47%;
    left: 53%;
    top: 0;
    position: absolute;
    resize: none;
    padding: 10px 0 0 0;
    text-indent: 20px;
}

.form_description {
    text-align: center;
    color: #fff;
}

.submit {
    float: right !important;
    width: 30% !important;
}

/*-----------footer--------------*/
footer {
    background: #b4bbc8;
    position: relative;
    overflow: hidden;
}

.foter_info {
    padding-top: 20px;
    font-size: 22px;
    line-height: 30px;
}

.footer_login {
    margin-top: 20px;
    height: 300px;
    background: #ecf0f1;
    text-align: center;
}

.year_continea {
    font-style: italic;
}

.podgotovlen {
    float: right;
    font-size: 16px;
    line-height: 20px;
}

/*------------------------------*/
.foto {
    width: 378px;
    height: 262px;
    background: #fff;
    background: url(../i/podymov.png);
    border-radius: 2%;
    margin: 30px auto 30px;
}

.publikation {
    background: #fff;
    padding: 30px;
    margin-bottom: 50px;
}
.publikation .text_classic{
    color: #2C3E50;
}
.site_index .publikation_content{
    max-height: 400px;
    display: block;
    overflow: hidden;
}
.publikation h1, .publikation h2, .publikation h3, .publikation h4, .publikation h5, .publikation h6{
    color: #2C3E50;
}
.title_link {
    color: #3498db;
}

.publikation p {

}

.panel_icon {
    width: 48px;
    height: 48px;
    float: left;
}

.pdf_icon {
    background: url(../i/files.png) no-repeat -48px 0;
}

.doc_icon {
    background: url(../i/files.png) no-repeat 0 0;
}

.btn:hover,
.btn:focus,
.btn-group:focus .btn.dropdown-toggle {
    background-color: #cacfd2;
    color: #ffffff;
    outline: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
}

.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    position: relative;
}

.btn-block {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-block .icon-key {
    display: inline-block;
    margin-right: 10px;
}

.btn-success {
    background-color: #5BB75B;
    background-image: linear-gradient(to bottom, #62C462, #51A351);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    background-color: #51A351;
    color: #FFFFFF;
}

.btn-info {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #49afcd;
    *background-color: #2f96b4;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn {
    border: none;
    background: #bdc3c7;
    color: #ffffff;
    padding: 9px 12px 10px;
    line-height: 22px;
    text-decoration: none;
    text-shadow: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
    font-weight: 500;
}

.btn.btn-large {
    font-size: 16.996px;
    line-height: 20px;
    padding: 12px 18px 13px;
}

.btn.btn-info {
    background-color: #3498db;
}

.btn.btn-success {
    background-color: #2ECC71;
}

.btn-primary {
    background-color: #1ABC9C;
    color: #FFFFFF;
}

.btn.btn-info:hover, .btn.btn-info:focus, .btn-group:focus .btn.btn-info.dropdown-toggle {
    background-color: #5DADE2;
}

.btn.btn-success:hover, .btn.btn-success:focus, .btn-group:focus .btn.btn-success.dropdown-toggle {
    background-color: #58D68D;
}

.btn.btn-info:active, .btn-group.open .btn.btn-info.dropdown-toggle, .btn.btn-info.active {
    background-color: #2C81BA;
}

.btn.btn-success:active, .btn-group.open .btn.btn-success.dropdown-toggle, .btn.btn-success.active {
    background-color: #27AD60;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #48C9B0;
    border-color: #48C9B0;
    color: #FFFFFF;
}

.span3 {
    width: 220px;
    float: right;
}

.span4 {
    position: relative;
    top: 30px;
    display: inline-block;
}

.span4 a {
    padding-left: 55px !important;
    padding-right: 55px;
}

.otstup {
    padding-right: 20px;
}

.publikation_panel {
    padding: 15px 0 0 0;
    margin-top: 15px;
    border-top: 2px dashed #2c3e50;
}

.login {

}

.image_login {
    position: absolute;
    top: 4px;
    left: 15px;
}

.form-signin {
    width: 400px;
    padding: 20px;
    margin: 0 auto;
}

.login_inp input {
    width: 100%;
    padding-left: 0;
    text-indent: 20px;
    border: 1px solid transparent;
}

.error_enter {
    padding: 10px;
    color: #fff;
    background: red;
    border-radius: 5px 5px 5px 5px;
    margin: 10px 0;
    display: none;
}

.get_error .login_inp input {
    border: 1px solid #e74c3c !important;
}

.get_error .error_enter, .get_error .recovery_psss_div {
    display: block;
}

.spod {
    padding: 10px 0;
}

.loading {
    cursor: default !important;
    background: url(../i/loader_button.gif) #BDC3C7 !important;
}

.recovery_psss {
    color: #fff;
}

.recovery_psss_div {
    display: none;
}

.loaderus {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: url(../i/maine_loader.gif) no-repeat center center #fff;
}
.go_home{
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}