@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(../font/ptsans.woff) format('woff');
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}

html, body, header, footer, article, section, nav {
    display: block;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "PT Sans", Georgia, Serif;
    font-size: 20px;
    color: #fff;
    min-width: 970px;
}

textarea, input {
    font-family: "PT Sans", Georgia, Serif;
    font-size: 0.95em;
}

.iosslider {
    width: 1150px !important;
    margin: 0 auto;
}
@media (max-width: 1600px) {
    .iosslider{
        width: 900px !important;
    }

}
@media (max-width: 1350px) {
    .iosslider{
        width: 700px !important;
    }

}
@media (max-width: 1000px) {
    .centrator {
        margin: 0 auto;
        width: 80%;
        min-width: 750px;
    }

    .centrator_2 {
        margin: 0 auto;
        width: 95%;
    }

    .main_menu ul li {
        /*width: auto !important;*/
    }
}

@media (max-width: 500px) {
    body {
        font-size: medium;
    }
}

h1, h2, h3 {
    font-size: 3em;
    font-weight: normal;
}

.anchor {
    float: none;
    clear: both;
}

/*-----------header-------------*/


input[type='text'], textarea {
    background: #fff;
    color: #757575;
    border-radius: 5px;
}

input[type='text'] {
    height: 44px;
    padding-left: 20px;
}

/*-----------menu-------------*/
.main_menu {
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 99999;
    opacity: 0.9;
}

.main_menu ul {
    text-align: justify;
    text-align-last: justify;
}

.main_menu ul:after {
    width: 100%;
    content: '';
    display: inline-block;
}

.main_menu ul li {
    display: inline-block;
    line-height: normal;
    width: 7em;
}

.main_menu li:first-child {
    text-align: left;
}

.main_menu ul li:last-child {
    text-align: right;
}

.main_menu ul li.active a div {
    display: block !important;
    background: #0095ff;
}

.main_menu span {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 0;
    top: 33%;
}

.main_menu ul li a {
    display: inline-block;
    line-height: 55px;
    text-decoration: none;
    position: relative;
    font-family: "Arial" narrow;
    font-size: 1.2em;
    color: #656565;
    position: relative;
    padding-left: 25px;
}

.main_menu ul li a:hover {
    text-decoration: none;
}

.main_menu ul li a div {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #cecece;
    height: 3px;
}

/*.main_menu ul li a:hover div {*/
/*display: block;*/
/*}*/

.icon_home {
    background: url(../img/menu_icons.png) no-repeat -4px -5px;
}

.icon_mission {
    background: url(../img/menu_icons.png) no-repeat -4px -38px;
}

.icon_projects {
    background: url(../img/menu_icons.png) no-repeat -4px -70px;
}

.icon_partners {
    background: url(../img/menu_icons.png) no-repeat -4px -101px;
}

.icon_apply_now {
    background: url(../img/menu_icons.png) no-repeat -6px -133px;
}

/*-----------table--------------*/
.table {
    display: table;
    width: 100%;
}

.table .tr {
    display: table-row;
}

.table .tr .td {
    display: table-cell;
}

/*-----------centrator--------------*/
.centrator {
    margin: 0 auto;
    width: 70%;
    min-width: 750px;
}

.centrator_2 {
    margin: 0 auto;
    width: 80%;
    position: relative;
}

/*-----------article--------------*/
article {
    overflow: hidden;
    clear: both;
    float: none;
}
.article_wrapper{
    padding: 30px 0 45px 0;
}
article h2 {
    text-align: center;
    position: relative;
}

article h2 div {
    border-bottom: 1px solid;
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
}

article h2 span {
    display: inline-block;
    padding: 0 14px;
    position: relative;
    z-index: 1;
    font-size: 60px;
}

.article_logo {
    width: 120px;
    height: 120px;
    margin: 0 auto 30px;
    position: relative;
    z-index: 10;
}

.article_description {
    text-align: center;
}

.article_description p {
    color: #fff;
    margin-bottom: 30px;
}

.article_description p:last-child {
    margin-bottom: 0;
}

.article_description .article_frame_box:first-child {
    margin-bottom: 30px;
}

.article_frame_box {
    position: relative;
}

.template_width_1 {
    width: 50%;
    margin: 0 auto;
}

.template_width_2 {
    width: 62%;
    margin: 0 auto;
}

.template_width_3 {
    width: 100%;
    margin: 0 auto;
}

.article_frame_circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 auto;
}

.article_frame_line {
    border-bottom: 1px solid;
    top: 49%;
    position: absolute;
    width: 100%;
}

.article_frame_spetial {
    position: relative;
    z-index: 1;
    width: 36px;
    margin: 0 auto;
}

.article_trio {
    padding: 40px 0;

}

.article_trio .table .td {
    position: relative;

}

.article_trio .table .td:nth-child(2n+1) {
    /*background: #b3c0ff;*/
    width: 200px;
    vertical-align: middle;
}

.extension_line {
    margin: 0 auto;
    max-width: 90px;
    padding: 0 15px;
    height: 10px;
    position: relative;
}

.ff_fix_pos_rel {
    position: relative;
    height: 200px;
    min-width: 40px;
}

/*-----------mission--------------*/
#mission {
    background: #0e87f6;
    position: relative;
}

#mission .extension_line {
    top: 144px;
}

#mission h2 {
    color: #86c5ff;
}

#mission h2 article div {
    border-color: #86c5ff;
}

#mission h2 span {
    background: #0e87f6;
}

#mission .article_frame_circle {
    background: #3eafff;
}

#mission .article_frame_line {
    border-bottom: 1px solid #3eafff;
}

#mission .article_frame_spetial {
    background: #0e87f6;
}

/*-----------projects--------------*/
#projects {
    background: #00aeff;
}

#projects h2 {
    color: #a1f1ff;
}

#projects h2 article div {
    border-color: #a1f1ff;
}

#projects h2 span {
    background: #00aeff;
}

#projects .article_frame_circle {
    background: #66c7ff;
}

#projects .article_frame_line {
    border-bottom: 1px solid #66c7ff;
}

#projects  .extension_line {
    top: 140px;
}

#projects .article_frame_spetial {
    background: #00aeff;
}
/*-----------partners--------------*/
#home {
    background: #08d4c3;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
#home .article_wrapper{
    padding-top: 100px;
}
#home h2 {
    color: #fff;
}

#home h2 article div {
    border-color: #a1f1ff;
}

#home h2 span {
    background: #08d4c3;
}

#home .article_frame_line {
    border-bottom: 1px solid #84ffef;
}

#home .article_frame_spetial {
    background: #08d4c3;
}

/*-----------apply_now--------------*/
#contact {
    background: #649eff;
}

#contact h2 {
    color: #fff;
}

#contact h2 article div {
    border-color: #fff;
}

#contact h2 span {
    background: #649eff;
}

.form_designing_wrap {
    margin: 0 auto;
    max-width: 900px;
    position: relative;
}

.form_designing {
    position: relative;
    margin: 25px 0;
}

.form_designing input[type="text"] {
    width: 47%;
    display: block;
    margin-bottom: 40px;
}

.form_designing input.last {
    margin-bottom: 0 !important;
}

.form_designing textarea {
    height: 96%;
    width: 47%;
    left: 53%;
    top: 0;
    position: absolute;
    resize: none;
    padding: 10px 0 0 0;
    text-indent: 20px;
}

.form_description {
    text-align: center;
    color: #fff;
}

.submit {
    background: #64ffe0;
    color: #10ad8d;
    display: block;
    line-height: 44px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
    border-radius: 5px;
    font-size: 1.2em;
}

/*-----------footer--------------*/
footer {
    height: 660px;
    background: #b4bbc8;
    position: relative;
    overflow: hidden;
}
/*------------------------------*/
.foto{
    width: 300px;
    height: 300px;
    background: #fff;
    margin: 0 auto;
}